body {
  margin: 0;
  font-family: Arial;
  background-image: url("immagge.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  color: #222;
  direction: rtl;
  text-align: right;
  line-height: 2.3;
}


.header {
  background: rgba(106, 13, 173, 0.70);

  color: white;
  padding: 40px 20px;
  text-align: center;
}

.container {
  max-width: 900px;
  margin: 30px auto;
  padding: 0 20px;
}

section {
  background: rgba(255, 255, 255, 0.7);
  border-radius: 12px;
  padding: 24px;
  margin-bottom: 20px;
  box-shadow: 0 4px 16px rgba(0,0,0,0.08);
}

.chapter {
  margin-bottom: 24px;
}

h1, h2, h3, h4, h5, h6 p {
  direction: rtl;
  unicode-bidi: plaintext;
}

.footer {
  text-align: center;
  padding: 20px;
  background: rgba(106, 13, 173, 0.70);
  margin-top: 40px;
}

.magic-text{
    font-size:50px;
    font-weight:800;
    letter-spacing:2px;

    background:
        linear-gradient(
            120deg,
            #ffffff 0%,
            #fdfdff 10%,
            #d69cff 22%,
            #7b2cff 35%,
            #ffffff 48%,
            #8a2be2 60%,
            #c987ff 74%,
            #ffffff 88%,
            #7b2cff 100%
        );

    background-size:600% 100%;

    -webkit-background-clip:text;
    -webkit-text-fill-color:transparent;
    background-clip:text;
    color:transparent;

    animation:galaxy 10s linear infinite;

    text-shadow:
        0 0 3px rgba(255,255,255,.45),
        0 0 8px rgba(170,80,255,.35),
        0 0 18px rgba(120,40,255,.25);
}

@keyframes galaxy{

    0%{
        background-position:0% 50%;
        filter:hue-rotate(0deg);
    }

    50%{
        background-position:100% 50%;
        filter:hue-rotate(25deg);
    }

    100%{
        background-position:0% 50%;
        filter:hue-rotate(0deg);
    }

}
    100% {
        background-position: 0% 50%;
    }
}
